@(highscorelist: List[de.linma.breakout.view.wui.controllers.HtmlHelper.HighscoreItemParameter])

<h1>Highscore</h1>
<form id="highscoreForm">
	<table id="highscore_table">
		<tr>
			<td class="highscore_header">Platz</td>
			<td class="highscore_header">User</td>
			<td class="highscore_header">Punkte</td>
		</tr>
		@for(highscore <- highscorelist) {		
			<tr>
				<td class="highscore_entry"> @(highscore.number)</td>
				<td class="highscore_entry"> @(highscore.username)</td>
				<td class="highscore_entry"> @(highscore.score)</td>
			</tr>	
		}			
	</table>
	<br>
		<a class="highscoreButton btn btn-default navbar-btn" href="#">next</a>
	</div>
</form>
