@(userStateMap: Map[String, String])


@main("Breakout") {
	<h1>User</h1>
	</br>
	<form id="highscoreForm" method="post">
		<table id="highscore_table">
			<td class="highscore_header">User</td>
			<td class="highscore_header">Game State</td>
			@for((key, value) <- userStateMap){
				<tr>
					<td class="highscore_entry">@key</td>
					<td class="highscore_entry">@value</td>
					<td class="highscore_entry"><button class="btn btn-default navbar-btn" type="submit" name="user" value="@key">Kick</button></td>
				</tr>
			}
		</table>
	</form>
}